<a href="https://colab.research.google.com/github/Rashmitakhatiwada/vctest/blob/master/Data_Science_Project(3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

3.    Goto the following notebook and copy it on your drive and apply necessary ML algorithm for given dataset. Evaluate the the model using one feature and multiple feature. Use feature selection technique to select one feature.https://colab.research.google.com/drive/1GwS2JdNHO@plbg8P-e-L22Vnnx5x7hcM?usp=sharing.

In [1]:
!git clone https://github.com/Rashmitakhatiwada/vctest.git

Cloning into 'vctest'...
remote: Enumerating objects: 22, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 22 (delta 1), reused 0 (delta 0), pack-reused 16
Unpacking objects: 100% (22/22), 147.23 KiB | 1.12 MiB/s, done.

In [ ]:
%%bash
gdown 1LIRkum4Lnn7ZdToKjnls-bd0MBjPqWmU

Downloading...
From: https://drive.google.com/uc?id=1LIRkum4Lnn7ZdToKjnls-bd0MBjPqWmU
To: /content/ads.csv
100%|██████████| 4.76k/4.76k [00:00<00:00, 16.4MB/s]

In [ ]:
import pandas as pd
df= pd.read_csv('/content/ads.csv')

In [ ]:
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

# Data Analysis.

In [ ]:
df.isna().sum()

Unnamed: 0    0
TV            0
radio         0
newspaper     0
sales         0
dtype: int64

There is no any missing value.

# splitting data into X and Y

The column Unnamed don't  give any relevant  feature. so, we drop that column.

In [ ]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [ ]:
df.head(5)

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [ ]:
X=df.iloc[:, :-1] #Independent variable
y=df['sales'] # dependent variable

In [ ]:
X,y

(        TV  radio  newspaper
 0    230.1   37.8       69.2
 1     44.5   39.3       45.1
 2     17.2   45.9       69.3
 3    151.5   41.3       58.5
 4    180.8   10.8       58.4
 ..     ...    ...        ...
 195   38.2    3.7       13.8
 196   94.2    4.9        8.1
 197  177.0    9.3        6.4
 198  283.6   42.0       66.2
 199  232.1    8.6        8.7

 [200 rows x 3 columns],
 0      22.1
 1      10.4
 2       9.3
 3      18.5
 4      12.9
        ...
 195     7.6
 196     9.7
 197    12.8
 198    25.5
 199    13.4
 Name: sales, Length: 200, dtype: float64)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 40)

# Linear Regression

Fit the model to the training data and  Make predictions on the test set

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

# Evaluate the model

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_test, y_pred)
print(f"Mean squared error: {mse}")
rmse = mean_squared_error(y_test, y_pred, squared=False)
print(f"Root mean squared error: {rmse}")
r2 = r2_score(y_test, y_pred)
print(f"r2 score: {r2}")

Mean squared error: 5.54492107924352
Root mean squared error: 2.3547656102558316
r2 score: 0.798265226183108

# Modeling use one feature. we are Using 'TV' as  the single feature.

In [ ]:
X_train_tv_feature = X_train[['TV']]
X_test_tv_feature = X_test[['TV']]

In [ ]:
from sklearn.linear_model import LinearRegression
model_tv_feature = LinearRegression()
model_tv_feature.fit(X_train_tv_feature, y_train)
y_pred_tv_feature = model_tv_feature.predict(X_test_tv_feature)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_test, y_pred_tv_feature)
print(f"Mean squared error: {mse}")
rmse = mean_squared_error(y_test, y_pred_tv_feature, squared=False)
print(f"Root mean squared error: {rmse}")
r2 = r2_score(y_test, y_pred_tv_feature)
print(f"r2 score: {r2}")

Mean squared error: 11.688668910369447
Root mean squared error: 3.418869536903894
r2 score: 0.5747439963247203

By comparing the evaluation metrics for the models with one feature and multiple features, you can determine which set of features performs better for predicting the target variable 'sales'.

# Modeling use one feature. we are Using 'Radio' as  the single feature.

In [ ]:
X_train_radio_feature = X_train[['radio']]
X_test_radio_feature = X_test[['radio']]

In [ ]:
from sklearn.linear_model import LinearRegression
model_radio_feature = LinearRegression()
model_radio_feature.fit(X_train_radio_feature, y_train)
y_pred_radio_feature = model_radio_feature.predict(X_test_radio_feature)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_test, y_pred_radio_feature)
print(f"Mean squared error: {mse}")
rmse = mean_squared_error(y_test, y_pred_radio_feature, squared=False)
print(f"Root mean squared error: {rmse}")
r2 = r2_score(y_test, y_pred_radio_feature)
print(f"r2 score: {r2}")

Mean squared error: 27.983798318468114
Root mean squared error: 5.289971485600666
r2 score: -0.01810380051141558

# Modeling use one feature. we are Using 'Newspaper' as  the single feature.

In [ ]:
X_train_newspaper_feature = X_train[['newspaper']]
X_test_newspaper_feature = X_test[['newspaper']]

In [ ]:
from sklearn.linear_model import LinearRegression
model_newspaper_feature = LinearRegression()
model_newspaper_feature.fit(X_train_newspaper_feature, y_train)
y_pred_newspaper_feature = model_newspaper_feature.predict(X_test_newspaper_feature)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_test, y_pred_newspaper_feature)
print(f"Mean squared error: {mse}")
rmse = mean_squared_error(y_test, y_pred_newspaper_feature, squared=False)
print(f"Root mean squared error: {rmse}")
r2 = r2_score(y_test, y_pred_newspaper_feature)
print(f"r2 score: {r2}")

Mean squared error: 27.318111766510533
Root mean squared error: 5.226673106911368
r2 score: 0.0061151422062381

# Explanation.